<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>


  <div>
    <div>
      <h1>Create User</h1>
      <div id="blank"></div>
    </div>
    <div>
      <form action="/user/create" method="post">
        <div>
          <label for="firstName">First Name: </label>
          <input type="text" name="firstName" placeholder="i.e. Harsh" />
        </div>
        <br>
        <div>
          <label for="lastName">Last Name: </label>
          <input type="text" name="lastName" placeholder="i.e. Chudasama" />
        </div>
        <br>
        <div>
          <label for="number">Mobile No.: </label>
          <input type="number" name="number" />
        </div>
        <br>
        <div>
          <label for="email">Email: </label>
          <input type="email" name="email" />
        </div>
        <br>
        <div>
          <label for="password">Password: </label>
          <input type="password" name="password" />
        </div>
        <br>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</body>

<% if(typeof errors != 'undefined') { %>
  <% errors.forEach(function(error) { %>
  <script>
    var msg = '<%= error.msg %> <%= error.param %>';
    let blank = document.getElementById('blank').innerHTML += 'Error: ' + msg + '<br>';
  </script>
  </div>
  <% }) %>
  <% } %>

</html>